.sponsor-logo {
  max-width: 200px;
  min-width: 100px;

  img {
    width: 100%;
  }
}

.contributor-level {
  display: flex;
  margin: 30px 0;

  h2 {
    align-self: center;
    flex: 10;
    margin-bottom: 0;
    padding: 10px 55px;
  }
}

.fa {
  &.contributor-title-circle {
    font-size: 3em;
    left: 0;
    position: absolute;
    top: -24px;
  }
}

.contributor {
  margin-bottom: 60px;

  .level {
    flex-flow: row wrap;
    padding: 0 30px 0 130px;
  }
}

.sponsor-level-icon,
.sponsor-level-icon.dashicons,
.sponsor-level-icon.fa {
  font-size: 70px;
}

@media (max-width: 991px) {
  .contributor .level {
    display: flex;
    padding: 0 30px;

    .col {
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  .contributor .level {
    display: block;

    .col {
      width: 100%;
    }
  }
}
