.carousel {
  .carousel-inner {
    margin: auto;
    min-height: 400px;
    width: 80%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }
}

.sponsor-widget {
  .contributor-level {
    .widget-icon {
      left: 6px;
    }

    .fa.contributor-title-circle {
      left: -16px;
    }
  }
}
