.carousel {
  .carousel-inner {
    margin: auto;
    min-height: 400px;
    width: 90%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 5%;
  }
}

.sponsor-widget {
  .contributor-level {
    margin-top: 0;

    .widget-icon {
      left: 1px;
    }

    .fa.contributor-title-circle {
      left: -16px;
    }
  }

  .row.level {
    margin-bottom: 30px;
  }
}

.SponsorWidget {
  h4 {
    margin-bottom: 10px;
  }

  .carousel {
    border:2px solid #eee;
    padding: 30px 15px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;

    .sponsor-level-icon.fa {
      font-size: 25px;
    }

    &:hover .sponsor-level-icon.fa {
      font-size: 50px;
    }
  }

  .carousel-indicators li {
    border-radius: 10px;
    flex: none;
    height: 15px;
    width: 15px;
  }
}
