.carousel {
  .carousel-inner {
    margin: auto;
    min-height: 400px;
    width: 90%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 5%;
  }
}

.sponsor-widget {
  .contributor-level {
    .widget-icon {
      left: 1px;
    }

    .fa.contributor-title-circle {
      left: -16px;
    }
  }

  .row.level {
    margin-bottom: 30px;
  }
}
