.sponsor-logo {
  max-width: 300px;
}

.sponsor-logo img {
  width: 100%;
}

.contributor-level {
  display: flex;
  margin: 30px 0;
}

.contributor-level .fa-stack {
  flex: 1;
}

.contributor-level h2 {
  align-self: center;
  flex: 10;
  margin-bottom: 0;
  padding: 10px 55px;
}

.fa.contributor-title-circle {
  font-size: 3em;
  left: 0;
  position: absolute;
  top: -24px;
}

.contributor {
  margin-bottom: 60px;
}

.contributor .level {
  padding: 0 30px 0 130px;
}

.sponsor-level-icon,
.sponsor-level-icon.fa {
  font-size: 50px;
}

.carousel .carousel-inner {
  margin: auto;
  min-height: 400px;
  width: 90%;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  width: 5%;
}

.sponsor-widget .contributor-level .widget-icon {
  left: 1px;
}

.sponsor-widget .contributor-level .fa.contributor-title-circle {
  left: -16px;
}

.sponsor-widget .row.level {
  margin-bottom: 30px;
}
