.sponsor-logo {
  max-width: 200px;
  min-width: 100px;
}

.sponsor-logo img {
  width: 100%;
}

.contributor-level {
  display: flex;
  margin: 30px 0;
}

.contributor-level h2 {
  align-self: center;
  flex: 10;
  margin-bottom: 0;
  padding: 10px 55px;
}

.fa.contributor-title-circle {
  font-size: 3em;
  left: 0;
  position: absolute;
  top: -24px;
}

.contributor {
  margin-bottom: 60px;
}

.contributor .level {
  flex-flow: row wrap;
  padding: 0 30px 0 130px;
}

.sponsor-level-icon,
.sponsor-level-icon.fa {
  font-size: 70px;
}

@media (max-width: 991px) {
  .contributor .level {
    display: flex;
    padding: 0 30px;
  }
  .contributor .level .col {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .contributor .level {
    display: block;
  }
  .contributor .level .col {
    width: 100%;
  }
}

.carousel .carousel-inner {
  margin: auto;
  min-height: 400px;
  width: 90%;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  width: 5%;
}

.sponsor-widget .contributor-level {
  margin-top: 0;
}

.sponsor-widget .contributor-level .widget-icon {
  left: 1px;
}

.sponsor-widget .contributor-level .fa.contributor-title-circle {
  left: -16px;
}

.sponsor-widget .row.level {
  margin-bottom: 30px;
}

.SponsorWidget h4 {
  margin-bottom: 10px;
}

.SponsorWidget .carousel {
  border: 2px solid #eee;
  padding: 30px 15px;
}

.SponsorWidget .carousel-control-next,
.SponsorWidget .carousel-control-prev {
  opacity: 1;
}

.SponsorWidget .carousel-control-next .sponsor-level-icon.fa,
.SponsorWidget .carousel-control-prev .sponsor-level-icon.fa {
  font-size: 25px;
}

.SponsorWidget .carousel-control-next:hover .sponsor-level-icon.fa,
.SponsorWidget .carousel-control-prev:hover .sponsor-level-icon.fa {
  font-size: 50px;
}

.SponsorWidget .carousel-indicators li {
  border-radius: 10px;
  flex: none;
  height: 15px;
  width: 15px;
}

@media (max-width: 767px) {
  .SponsorWidget .contributor .col {
    margin: 0 auto;
    max-width: 330px;
  }
}
